<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>


#<IfModule mod_rewrite.c>
#    <IfModule mod_negotiation.c>
#        Options -MultiViews -Indexes
#    </IfModule>

#    php_flag display_errors On
#    php_value error_reporting E_ALL

#    RewriteEngine On
#    RewriteBase /admin/public/

    # 除外する条件を追加
#    RewriteCond %{REQUEST_URI} !^/admin/public/login
#    RewriteCond %{REQUEST_URI} !^/admin/public/notice
#    RewriteRule ^notice$ /admin/public/notice [L,R=301]
#
    # Handle Authorization Header
#    RewriteCond %{HTTP:Authorization} .
#    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_URI} (.+)/$
#    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^(.*)$ index.php [L]
#</IfModule>

